<app-nav></app-nav>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat.
      </p>
      <p></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Fund Account</h2>
        <p>
          Add funds to account.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/fundaccount" role="button"
            >Fund Acccount &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Add Vendor</h2>
        <p>
          Add a vendor's payment information to the list.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/addvendor" role="button"
            >Add Vendor &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Process Payment</h2>
        <p>
          Initiate payment to all registered vendors.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/vendors" role="button"
            >Process Payments &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>
