<app-nav></app-nav>

<main role="main">
  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Welcome</h1>
      <p>
        This is a template for a simple marketing or informational website. It
        includes a large callout called a jumbotron and three supporting pieces
        of content. Use it as a starting point to create something more unique.
      </p>
      <p></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Add A Vendor</h2>
        <p>
          Add a vendor information scheduled to be paid.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/addvendor" role="button"
            >Add Vendor &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>List All Vendors</h2>
        <p>
          See the list of all vendors and their details.
        </p>
        <p>
          <a class="btn btn-secondary" routerLink="/vendors" role="button"
            >List Vendors &raquo;</a
          >
        </p>
      </div>
      <div class="col-md-4">
        <h2>Process Payment</h2>
        <p>
          Initiate payment to all registered vendors.
        </p>
        <p>
          <a
            class="btn btn-secondary"
            routerLink="/process-payments"
            role="button"
            >Process Payments &raquo;</a
          >
        </p>
      </div>
    </div>

    <hr />
  </div>
  <!-- /container -->
</main>
