<app-nav></app-nav>

<main role="main">
  <div class="container mainbody">
    <div class="row">
      <div class="col-md-9 offset-1">
        <h4>All Customers</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10 offset-1">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Business Name</th>
              <th scope="col">Acct Details</th>
              <th scope="col">Bank</th>
              <th scope="col">Amt Due</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Jumia Nigeria</th>
              <td>Jumia Nigeria</td>
              <td>Otto</td>
              <td><input type="text" name="amt" /></td>
            </tr>
            <tr>
              <th scope="row">Emeka and Sons.</th>
              <td>Emeka and Sons.</td>
              <td>Thornton</td>
              <td><input type="text" name="amt" /></td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Jumia Nigeria</td>
              <td>the Bird</td>
              <td><input type="text" name="amt" /></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
